<ajaxControlToolkit>
  <controlBundles>
    <controlBundle>
      <control name="FilteredTextBoxExtender" />
      <control name="NumericUpDownExtender" />
      <control name="CalendarExtender" />
      <control name="ModalPopupExtender" />
      <control name="ComboBox" />
    </controlBundle>
    <controlBundle name="CalendarBundle">
      <control name="CalendarExtender"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>