<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->


    <!-- Debugger is for internal use only -->
    <target xsi:type="Debugger" name="DebuggerVS" layout="NLOG|${logger}|${message}|${exception}|${exception:Format=message,type,shorttype,tostring,method,stacktrace}"/>

    <!-- The DailyLogFile requires permissions to read/write files to the given LOG-folder -->
    <target xsi:type="File"
            name="DailyLogFile"
            fileName="${basedir}/Log/KeyCopWebManager.log"
            layout="${date:format=yyyyMMdd\ HH\:mm\.ss}|${level:uppercase=true}|${logger}|${message}|${exception}|${exception:Format=message,type,shorttype,tostring,method,stacktrace}"
            archiveAboveSize="10000000"
            archiveEvery="Day"
            archiveFileName="${basedir}/Log/KeyCopWebManager.{###}.log"
            maxArchiveFiles="10"
            concurrentWrites="false"
            />



    <!-- The EventLog requires permissions to read the registry (default disabled) -->
    <target xsi:type="EventLog" name="EventLog" source="KeyCopWebManager" layout="Level: ${level:uppercase=true}${newline}Logger: ${logger}${newline}Message: ${message}${newline}Exception: ${exception}${newline}${exception:Format=message,type,shorttype,tostring,method,stacktrace}"/>

  </targets>

  <rules>

    <!--
      Minimum Loglevel:
        Off
        Trace - used for development
        Debug - used for releases / daily logfile
        Info  - used for windows eventlog
        Warn
        Error
        Fatal
    -->

    <logger name="*" minlevel="Trace" writeTo="DebuggerVS" />
    <logger name="*" minlevel="Debug" writeTo="DailyLogFile" />
    <!-- logger name="*" minlevel="Info" writeTo="EventLog" / -->

  </rules>
</nlog>